<a name="HouseNeededTag"></a>
<div>
    <span style="font-size: x-large;font-weight: bold; color:green">Rental Needed </span>
    <br/>
    <br>Please fill your basic rental information which you want, we will contact you shortly 
    <br/>when any matched house is aviable for you. 
</div>
<br/><br/>
<div><%=render "/house_needed/new"%>
<div>
<br/><br/>
